<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
</head>
<body>
    <h1>{{ article.title }}</h1>
    <p><strong>Press:</strong> {{ article.press }}</p>
    <p><strong>Author:</strong> {{ article.author }}</p>
    <p><strong>Date:</strong> {{ article.date_time }}</p>
    
    {% if article.image_url %}
        <img src="{{ article.image_url }}" alt="Article Image" style="max-width: 300px;">
    {% endif %}
    <h2>Captions</h2>
    <p><strong>Original Caption:</strong> {{ article.original_caption }}</p>
    <p><strong>Generated Caption:</strong> {{ article.generated_caption }}</p>
    <h2>Summary</h2>
    <p>{{ article.summary }}</p>
    
    <h2>Original Text</h2>
    <p>{{ article.original_text }}</p>
    

    <a href="{{ url_for('home', db_file=db_file) }}">Back to titles</a>   
</body>
</html>
